*
{
    margin: 0%;
    padding: 0%;
}

.Login-container
{
    max-height: 1900 px;
    height: 46em;
    background-image: url(../Images/794cb8f4b28f8028b5e065a6e2ea310c.jpg);
}

.home-ft-height
{
    height: 1.5rem;

}

.navbar-color
{
    background: #de5285;
}

.Login-row
{
    background-color: #de5285;
    height: 35em;
}


.table-container
{
    background-color: white;
    /* background-image: url(../Images/summer-nature-wallpaper-3_edited.png); */
    min-height: 660px;
}
